.my_page {
    margin-top: 3em;
    margin-left: 12em;
    margin-right: 12em;

}

.my_page h3 {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: normal;
}



.my_page .information_form {
    margin-top: 2em;
    font-size: .875rem;
    width: 100%;
}

/* 리스트 */
.information_select {
    height: 3em;
    padding-top: 3em;
    border-bottom: 1px solid white;
}
.information_select td {
    width: 20%;
    text-transform: uppercase;
    /* background-color: #555; */
    letter-spacing: .4rem;
    font-size: 0.7em;
}


.information_select th {

    text-align: left;
    letter-spacing: .2rem;
    font-weight: 100;
}


.info_btns{
    margin-top: 5em;
    text-align: center;
}



.info_btns input{
    width: 10em;
    height: 2em;
    border-radius: .8rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}




/* myPageUpdate */
.information_select_fix {
    height: 3em;
    padding-top: 3em;
    border-bottom: 1px solid white;
}


.information_select_fix td {
	width: 25%;
	text-transform: uppercase;
    /* background-color: #555; */
    letter-spacing: .4rem;
    font-size: 0.7em;
} 


.information_select_fix th {

    text-align: left;
    letter-spacing: .2rem;
    font-weight: 100;
}

.information_select_fix input[type='text'],
.information_select_fix input[type='password'] {
	border-radius: .5rem;
	width: 15rem;
	border: 0;
	outline: 0;
	padding: .5rem;
}

.my_page .information_form_address {
	
	margin-top: 2em;
    font-size: .875rem;
    width: 100%;
}

.information_select_fix #select_roadAddrPart1{

	width: 20rem;
}
.information_select_fix #select_roadAddrPart1 #searchAddress{
	border-radius: 0.2rem;
	margin-left: 1rem;
	padding:0.5rem;
	outline:0;
	border:0;
}

.information_select_fix #select_roadAddrPart2 input[type='text']{
	width: 21rem;
}	